body {padding: 10px; margin:360; background: url(Фон сайта 2.jpg); background-attachment:fixed; background-size: 100%; font-size:15px; font-family: Lucida Console;}
#pic{
position: relative;
left:100px;
top:-500px;
}
#pil {
    position: relative;
    left:50px;
top:-900px
   }